  {% load static %}
  <!DOCTYPE html>
  <html lang="en" dir="ltr">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <head>
      <meta charset="utf-8">
      <title>Captain_Falcon</title>
    </head>
    <body>
      <h1> This the Captain Falcon Page </h1>

      <div class="card" style="width: 18rem;">

        <img class="card-img-top" img src="{% static 'Smashfun.image' %}" alt="screenshot of CF">
        <div class="card-body">
        {{Smashfun}}
        {% for Smashfun in Smashfun %}
          <img src="{% static 'Smashfun.image' %}" alt="Test">
          <h5 class="card-title">{{Smashfun.character_name}}</h5>
          <p class="card-text">Captain Falcon Description</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        {% endfor %}
        </div>
        </body>

        </div>

    </body>
  </html>
